.map-container {
    border: 1px solid #d0d0d0;
    margin-left: 190px;
    margin-top: 200px;
}

.container {
    float: left;
    margin-bottom: 450px;
    width: 500px;
    /*border: 1px solid #d0d0d0;*/
    margin-left: 50px;
}